.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}



table {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 100px;
}

table td, table th {
  border: 1px solid black;
  align-text: left;
  padding: 5px 15px;
}

.OllSection {
  display: block;
}
.PllSection {
  display: none;
}


.OllSection #inputOllName, .OllSection #inputOllContent, .PllSection #inputPllName, .PllSection #inputContent {
  z-index: 999;
}


.input {
  z-index: 1000;
}



.App-header {
  flex: 1;
  margin-right: 40%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(5px + 2vmin);
  color: white;
}

.right-div {
  position: fixed;
  right: 0;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 40%;
  padding-right: 30px;
}


.canvas {
  height: 4000px;
  width: 8000px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Set the background color and opacity */
  z-index: 999; /* Set the z-index to make sure the overlay is on top of other content */
}

.overlayWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  height: 80%;
  max-height: 500px;
  background-color: grey;
  color: black;
  border-radius: 10px;
  z-index: 1000;
  opacity: 1;
}
